@(tweetsForWord: Map[String, List[Tweet_Object]])

@main("location") {


<div class="container">
	<ul class="list-unstyled">
		@for( (word, tweets) <- tweetsForWord ){
		<div class="demo-only" style="height: 4rem;">
			<div class="slds-notify_container slds-is-relative">
				<div class="slds-notify slds-notify_toast slds-theme_success" role="alert">


					<div class="slds-notify__content">
						<h2 class="slds-text-heading_small ">Location Result</h2>
					</div>

				</div>
			</div>
		</div>
		@for(tweet <- tweets){
		@if(tweet.geo != null && tweet.user.location != ""){

		<article class="slds-card">
			<div class="slds-card__header slds-grid">
				<header class="slds-media slds-media_center slds-has-flexi-truncate">

					<div class="slds-media__body">
						<h2 class="slds-card__header-title">
							<a
									href="@routes.TweetController.userProfile(tweet.user.screen_name)"
									class="btn btn-link" role="button" target="_blank">@tweet.user.name</a>
						</h2>




						Location -  <a
							href="@routes.TweetController.locationTweets(tweet.geo.LatLong + tweet.geo.SearchTerm)"
							class="btn btn-link" role="button" target="_blank">@tweet.user.location</a>
						Lat Long - @tweet.geo.LatLong

						@tweet.created_at
					</div>
				</header>
			</div>
			<div class="slds-card__body slds-card__body_inner">

				<div class="row p-2">
					<div class="col">
						@tweet.full_text

						<br/>

					</div>

				</div>

			</div>
			<footer class="slds-card__footer">

				HastTags -
				@for( (Hash) <- tweet.entities.hashtags ){
				<a
						href="@routes.TweetController.HashTagTweets(Hash.text)"
						class="btn btn-link" role="button" target="_blank">@Hash.text</a>
				}
			</footer>
		</article>


		}
		}
		}
	</ul>
</div>
}